nav {
  position: absolute;
}

nav.fixed {
  position: fixed;
}

nav ul a,
nav .brand-logo {
  font-family: 'Raleway', sans-serif;
}

nav.inherit {
  background-color: inherit !important;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  z-index: 999;
}

nav.white {
  transition: all 0.1s ease-in-out;
}

nav.white ul a,
nav.white .brand-logo {
  color: #030303;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

#index-banner {
  height: 100vh;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
