@font-face {
  font-family: 'Highlander'; /* Имя шрифта */
  src: local('Highlander'), /* проверяем наличие шрифта в ОС пользователя */
  url(../fonts/Highlander.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  font-weight:normal;
  font-style:normal;
}

.main-wrapper {
  opacity: 0;
}

.main-preloader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a484b;
  z-index: 99999;
}

.btn-preloader {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px;
  font-size: 24px;
  font-family: 'Highlander', sans-serif;
  text-transform: none;
  cursor: default;
  box-shadow: none;
}

nav {
  position: absolute;
  z-index: 9999;
}

nav.fixed {
  position: fixed;
}

nav ul a,
nav .brand-logo {
  font-family: 'Raleway', sans-serif;
}

nav.inherit {
  background-color: inherit !important;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
}

nav.white {
  transition: all 0.1s ease-in-out;
}

nav.white ul a,
nav.white .brand-logo {
  color: #030303;
}

.sidenav li > a {
  font-size: 25px !important;
  height: 80px !important;
  line-height: 80px !important;
}

.header-logo {
  font-family: 'Highlander', sans-serif;
  font-size: 6em;
  margin-top: 35vh;
}

.btn-anchor-link,
.btn-anchor-link-fill {
  border-radius: 50vw;
  text-transform: none !important;
  margin-top: 40px;
}

.btn-anchor-link-fill {
  background-color: transparent !important;
  border: 1px solid #ffffff;
  margin-left: 20px;
}

p {
  line-height: 2rem;
}

#index-banner {
  height: 100vh;
}

#services {
  padding-top: 20px;
  padding-bottom: 50px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 495px) {
  .header-logo {
    margin-top: 20vh;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #26a69a;
  border-radius: 50%;
}

footer.page-footer {
  margin: 0;
}

.contacts-social-network img {
  margin-right: 12px;
}

.footer-copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-network img {
  margin-right: 12px;
}

.service-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*Flex items*/
.service-container {
  display: flex;
  flex-wrap: wrap;
}
.service-column-container {
  padding: 0.5em;
  width: 100%;
}
.service-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid rgba(46, 46, 46, 0.3);
  border-radius: 10px;
}
.service-column h5 {
  margin-top: 0;
}
@media all and (min-width: 40em) {
  .service-column-container {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .service-column-container {
    width: 33.33%;
  }
}

.telegram-icon,
.viber-icon,
.linkedin-icon,
.vk-icon {
  width: 30px;
}

.instagram-icon {
  width: 31px;
}

